:root {
  font-family: Inter, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-brand: #f6a122;
  --color-main: #fd267a;
  --color-second: #ff6036;
  --color-accept: green;
  --color-reject: red;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 32px;
  overflow: clip;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
